# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [47]:
clean_city_data=pd.read_csv('../Resources/Clean City Data.csv')
del clean_city_data['Unnamed: 0']

clean_city_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Yellowknife,62,-114.3525,8,72,90,13.80,CA,1619389411
1,Saint-Philippe,-21,55.7679,77,73,0,19.57,RE,1619389607
2,Turaif,31,38.6637,71,30,0,6.91,SA,1619389607
3,Teya,60,92.6267,32,88,100,7.16,RU,1619389607
4,Rikitea,-23,-134.9692,78,74,98,7.83,PF,1619389608

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [123]:
# Store latitude and longitude in locations
locations = clean_city_data[["Lat", "Lng"]]

# Fill NaN values and convert to float
weights = clean_city_data["Humidity"].astype(float)

In [126]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [127]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
# Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

ideal_weather=clean_city_data.loc[clean_city_data['Wind Speed']<10]
ideal_weather=ideal_weather.loc[ideal_weather['Max Temp']<90]
ideal_weather=ideal_weather.loc[ideal_weather['Max Temp']>80]
ideal_weather=ideal_weather.loc[ideal_weather['Cloudiness']<10]
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
179,Kavaratti,10,72.6420,83,72,2,6.73,IN,1619389544
235,Bilma,18,12.9164,89,11,9,9.48,NE,1619389701
299,Khanpur,28,70.6567,85,12,0,8.41,PK,1619389728
304,Natitingou,10,1.3796,84,65,0,4.61,BJ,1619389730
336,Atar,20,-13.0499,81,17,0,4.54,MR,1619389743
389,Abu Dhabi,24,54.3667,84,42,0,2.30,AE,1619389575
460,Umluj,25,37.2685,81,46,0,3.06,SA,1619389794
515,Keffi,8,7.8736,86,58,0,4.61,NG,1619389819

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [128]:
hotel_df=ideal_weather

In [135]:
# geocoordinates
target_radius = 5000
target_search = "hotel"
key_search = "hotel"
# set up a parameters dictionary

params = {
    "location": target_coordinates,
    "radius": target_radius,
    "types": target_search,
    "keyword": key_search,
    "key": g_key}

for index, row in hotel_df.iterrows():
    
    # latitudes and longitudes from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotels" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and print url
    hotel_name = requests.get(base_url, params=params)
    
    # convert to json
    hotel_name = hotel_name.json()
#     print(json.dumps(hotel_name, indent=4, sort_keys=True))
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
179,Kavaratti,10,72.6420,83,72,2,6.73,IN,1619389544,NaN
235,Bilma,18,12.9164,89,11,9,9.48,NE,1619389701,NaN
299,Khanpur,28,70.6567,85,12,0,8.41,PK,1619389728,NaN
304,Natitingou,10,1.3796,84,65,0,4.61,BJ,1619389730,NaN
336,Atar,20,-13.0499,81,17,0,4.54,MR,1619389743,NaN
389,Abu Dhabi,24,54.3667,84,42,0,2.30,AE,1619389575,NaN
460,Umluj,25,37.2685,81,46,0,3.06,SA,1619389794,HP Red Sea Hotel
515,Keffi,8,7.8736,86,58,0,4.61,NG,1619389819,NaN

In [132]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [118]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig
# Display figure

Figure(layout=FigureLayout(height='420px'))